<rob-header></rob-header>
<rob-notification-container></rob-notification-container>
<button
  robTooltip="Longer text inside the tooltip"
  tooltipPosition="top"
  style="margin: 3rem; display: block"
>
  Add Notification
</button>
<button
  robTooltip="Longer text inside the tooltip"
  tooltipPosition="bottom"
  delay="1000"
  style="margin: 3rem; display: block"
>
  Add Notification
</button>
<button
  robTooltip="Longer text inside the tooltip"
  tooltipPosition="left"
  style="margin: 3rem; display: block"
>
  Add Notification
</button>
<button
  robTooltip="Longer text inside the tooltip"
  tooltipPosition="right"
  style="margin: 3rem; display: block"
>
  Add Notification
</button>
<router-outlet></router-outlet>
<rob-footer></rob-footer>
