@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

html,
body {
  @apply font-sans-serif text-gray-900 dark:text-gray-50 dark:bg-black-pearl-900;
  font-size: 18px;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}
